.progress {
 display: flex;
 margin-top: 10px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 10px;
 height: 40px;
} 
 
.Buttons {
	display: flex;
	justify-content: center;
}

.btn {
	margin-right: 10px;
}